name: JNW_GDS

on:
  workflow_call:

jobs:
  gds:
    runs-on: ubuntu-latest
    container:
      image: wulffern/aicex:26.04_0.1.7
      options: --user root
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Make GDS
        uses: analogicus/jnw-actions/gds@main
